<section id="content">
    <div class="container">
    	<div class="container">
			<div class="row">
				<div class="span4 offset4 well">
					<h3>Please Sign In</h3>
					<form>
						<div class="control-group">
							<label class="control-label" for="username">Username</label>
							<div class="controls">
								<input type="text" id="username" class="span4" name="username" placeholder="Username">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="password">Password</label>
							<div class="controls">
								<input type="password" id="password" class="span4" name="password" placeholder="Password">
							</div>
						</div>
		            <label class="checkbox">
		            	<input type="checkbox" name="remember" value="1"> Remember Me
		            </label>
		            <br />
					<button type="submit" name="submit" class="btn btn-primary btn-large btn-block">Sign in</button>
					</form>    
				</div>
			</div>
		</div>
    </div>
</section>